
#contact-us {
	color: #22333b;
}
#contact-us > div {
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,.85);

}
#contact-us > .container {
	background: white;
}
/* bread-crumb navigation titles */
#contact-us h1 {
	font-size: 1.2em;
}

/*******************
	CONTACT-FORM
	***************/
#contact-us-1 {
	/*margin-bottom: 144px;*/
}

/*********************
	CONTACT FORM
	***************/
#contact-form {
	min-width: 300px;
	background-color: #314e22;
	padding: 15px;
	color: #fff;
	box-shadow: inset 1px 1px 3px 3px rgba(201,234,212,.5),
							0px 0px 2px 2px rgba(11,11,11,.75);
	margin: 15px;
}
#contact-form h3 {
	font-size: 2.1em;
	color: white;
	padding-left: 15px;
	margin-bottom: 15px;
	position: relative;
}
#contact-form h3::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 80%;
	left: 50%;
	bottom: -15px;
	transform: translateX(-50%);
	background-color: white;
	color: white;
}
#contact-form p {
	padding: 15px;
	line-height: 1.6;
	font-size: 1.05em;
	font-weight: lighter;
}
#contact-form form {
	padding: 0 15px 15px;
	background-color: transparent;
	font-family: 'Asap';
}
#contact-form input,
#contact-form textarea {
	border-radius: 1px;
	margin-bottom: 20px;
	background-color: RGBA(224, 237, 218, 0.69);
	border-color: #E0EDDA;
	padding: 12px 6px;
	padding-left: 15px;
	line-height: 1.6;
	font-size: 1.1em;
	box-shadow: inset 1px 1px 5px 1px rgba(33,33,33,.33),
							0px 0px 3px 2px rgba(201,234,212,.5);
}
#contact-form textarea {
	padding-top: 12px;
}
#contact-form button[type="submit"] {
	background-color: #E0EDDA;
	color: #314e22;
	width: 45%;
	display: block;
	margin-right: 0;
	margin-left: auto;
	font-weight: bold;
	line-height: 1.6;
	font-size: 1.2em;
	border-radius: 0;
}
#contact-form form input.form-control {
	height: 50px;
}
.form-control::-webkit-input-placeholder {
   color: #f8fff4;
}
.form-control:-moz-placeholder { /* Firefox 18- */
   color: #f8fff4;
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
}
.form-control:-ms-input-placeholder {
   color: #f8fff4;
}

/***************
	QUICK CALL
	*************/
#quick-call {
	border: 3px solid #22333b;
	color: #22333b;
	/*width: 360px;*/
	font-size: 1.8em;
	padding: 15px;
	text-align: right;
	margin: 36px 15px 72px;
	position: relative;
	left: 72px;
	width: 315px;
	margin-bottom: 72px;
}
#quick-call > h3 {
	font-size: 1.6em;
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	line-height: 1;
	margin-top: 0;
	text-transform: capitalize;
}
#quick-call button {
	display: block;
	width: 70%;
	margin: 30px auto;
	position: relative;
	text-align: center;
	background-color: #22333b;
	color: white;
	backface-visibility: hidden;
	padding: 15px 30px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.1;
	border: none;
}
#quick-call h4 + p + p,
#quick-call h4 + p + p + p {
	font-weight: bold;
	text-transform: uppercase;
	padding: 6px;
	font-size: 0.85em;
}
#quick-call h4 + p + p + p {
	transform: rotateY(180deg);
}
#quick-call h4 + p + p + p > a {
	color: white;
}
#quick-call h4 + p + p:hover {
	transform: rotateY(180deg);
}
#quick-call h4 + p + p:hover + p {
	transform: rotateY(360deg);
}

/**********************
	GOOGLE REVIEWS
	****************/
#google-reviews {
	padding: 22px;
	width: 100%;
}
#google-reviews > h4 {
	position: relative;
	margin-bottom: 18px;
}
#google-reviews > h4::after {
	content: "";
	position: absolute;
	height: 7px;
	width: 100%;
	left: 50%;
	bottom: -12px;
	transform: translateX(-50%);
	background-color: #22333b;
}


/*********************
	SOCIAL MEDIA
	******************/
#social-media {
	font-family: 'Asap', sans-serif;
	font-size: 1.5em;
	color: #22333b;
	margin: 15px;
}
#social-media a:hover {
	text-decoration: none;
}
#social-media h3 {
	position: relative;
	padding: 15px 0;
	text-transform: uppercase;
	color: #22333b;
}
#social-media h3 > span {
	margin-right: 8px;
	font-size: 1.8em;
	position: relative;
}
#social-media h3::after {
	content: "";
	position: absolute;
	height: 7px;
	width: 100%;
	left: 0;
	bottom: -4px;
	/*transform: translateX(-50%);*/
	background-color: #22333b;
	color: #22333b;
}
#social-media p {
	margin-top: 1em;
	font-size: .9em;
}
#social-media p > a {
	color: #314e22;
}
#social-media p > a:hover {
	text-decoration: underline;
}
#social-media a {
	color: #22333b;
	font-weight: bold;
}
#social-media .social-links {
	font-size: .5em;
}

#social-media #video-facebook {
	padding: 15px;
	margin-top: 30px;
}



/*****************/
#location {
	margin-top: 72px;
	height: 450px;
	overflow: hidden;
	display: none;
}
#location #map > div{
	height: 450px;
	overflow: hidden;
}
#location #company-address > div {
	/*position: absolute;*/
}
