/**********************
	GLOBAL STYLES
	****************/
body {
	background-color: #e4f9d9;
}
main {
	position: relative;
	z-index: -2;
	/* above rules allow nav to "sit" on top of the main content -- allowing for shadows hanging over */
}
.section {
	padding: 15px;
	min-height: 350px;
	background-color: #e4f9d9;
}
.float-right {
	float: right;
}
.clear-float {
	clear: both;
}

/**************************
	HEADER
	********************/
header {
	position: relative;
	padding: 15px 0;
	/*border: 1px solid black;*/
}
#main_logo {
	background-image: url(../assets/garage-door-depot-logo.png);
	height: 100px;
	width: 382px;
	background-repeat: no-repeat;
	background-size: cover;
}
#contact_number {
	font-size: 1.75em;
	position: absolute;
	top: 15px; right: 15px;
	font-weight: 700;
	color: black;
	font-style: italic;
}
#search-box {
	position: absolute;
	right: 15px; bottom: 15px;
}


/***************************
	NAVIGATION
	*******************/
nav {
	background-color: #314e22;
	font-size: 1.15em;
	font-family: 'Nunito';
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,.35);
}
nav ul.container {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}
nav ul li {
	display: inline-block;
	float: left;
	text-align: center;
}
nav ul li a {
	color: #f8fff4;
	display: block;
	padding: 0 30px;
	line-height: 3.2; /* controls height of navigation! */
	transition: color 100ms;
}
nav ul li a:hover,
.dropdown-content a:hover {
	text-decoration: none;
	color: #FFA538;
}
.dropdown-btn {
	cursor: pointer;
	position: relative;
}
ul.dropdown-content {
  position: absolute;
	opacity: 0;
	left: 16px;
  background-color: rgba(34, 51, 59, 0.9);
	z-index: 1;
	box-shadow: -1px 2px 5px 1px rgba(0,0,0,.35);
	font-weight: 100;
	border-top: 1px solid #143132;
	font-size: .9em;
	padding: 0 9px 6px 6px;
	transition: opacity 250ms ease-out 100ms;
}
.dropdown-content li {
	display: block;
	text-align: left;
	width: 100%;
	border-bottom: 2px solid #143132;
	margin-top:1px;
	margin-left: 1px;
}
.dropdown-content li:last-child {
	border-bottom-width: 0px;
}
.dropdown-content li a {
	padding: 4px 15px 0;
	/*padding-left: 1.25em;*/
	line-height: 2.25;
}
.dropdown-content li a:hover {
	/*background-color: rgba(248, 255, 244, 0.75);*/
	color: #ffbe0f;*
}
.dropdown-btn:hover .dropdown-content {
	/*display: block;*/
	opacity: 1;
}

/**********************
	carousel
	************************/
#main-content-1.section {
	padding: 0;
}
#carousel {
	height: 660px;
	overflow: hidden;
}
#carousel .item img{
	max-height: 100%;
	width: 100%;
	position: relative;
	top: -80%;
}

/*****************************
	Main Content
	******************/
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.9;
	width: 100%;
	height: 100%;
}
#main-content-2 {
	padding: 0;
}
.section-row {
	color: #f8fff4;
	padding: 45px;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.section-row:nth-child(1) {
	background-image: url(../images/multi-color-garage-doors.jpg);
	background-position: center 45%;
	box-shadow: inset -150px 85px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(2) {
	background-image: url(../images/39-commercial-door-repeat.jpg);
	background-position: center 55%;
	box-shadow: inset 205px 40px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(3) {
	background-image: url(../images/thumbs-up.jpg);
	background-position: 83px 37%;
	background-size: cover;
	box-shadow: inset 135px 52px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(1) > .overlay {
	background-color: #314e22;
}
.section-row:nth-child(2) > .overlay {
	background-color: #22333B;
}
.section-row:nth-child(3) > .overlay {
	background-color: #A35100;
}
.section-row [class*="col-"] {
	padding: 0;
}
.section-row [class*="col-"] h2 {
	margin-top: 0;
	padding-bottom: 15px;
}
.section-row [class*="col-"] p {
	line-height: 1.75;
}
.section-row [class*="col-"] button {
	font-size: 1.25em;
	padding: 10px 18px;
	margin: 45px 0 45px;
	background-color: transparent;
	border-width: 2px;
}

/***********************
	ABOUT COMPANY
	**************/
#main-content-3.section {
	text-align: center;
	color: #314e22;
	font-family: 'Asap', sans-serif;
}
#main-content-3 h2 {
	font-family: inherit;
	font-size: 3em;
	font-weight: normal;
	padding-top: 25px;
	margin-bottom: 45px;
	/*color: #22333B;*/
	position: relative;
}
#main-content-3 h2:after{
	position: absolute;
	content: "";
	width: 170px;
	height: 3px;
	background-color: #314e22;
	bottom: -25px;
	left: 50%;
	margin-left: -85px;
}
#main-content-3 article {
	padding: 15px;
	text-align: center;
	font-family: 'Noto Sans';
}
#main-content-3 article p {
	padding: 15px;
	line-height: 1.5;
}
#main-content-3 .glyphicon {
	font-size: 2.4em;
	color: #314e22;
	display: inline-block;
	padding: 30px;
}

/************************
	ACCREDITATIONS
	****************/
#accreditation {
	font-family: inherit;
	padding: 30px;
	background-color: white;
	color: #333;
	/*box-shadow: 0 0 5px 1px rgba(0,0,0,0.35);
	border-radius: 3px;*/
	/*margin: 25px auto 50px;*/
	/*width: 55%;*/
}
#accreditation h3 {
	margin-top: 0;
	margin-bottom: 32px;
	font-size: 1.5em;
	font-weight: normal;
}
#accreditation .row + .row > [class*="col-"] {
	height: 90px;
	padding: 0;
	text-align: center;
}
#accreditation .row + .row > [class*="col-"] img {
	max-width: 100%;
	max-height: 100%;
}

/*********************
	TESTIMONIALS
	***************/
#parallax-content {
	background-attachment: fixed;
	background-image: url(../images/glass-garage-door-house.jpg);
	background-size: cover;
	min-height: 550px;
	position: relative;
}
#parallax-content .overlay {
	background-color: #314e22;
}
#parallax-content #testimonials-carousel {
	color: white;
	padding: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-style: italic;
	text-align: center;
}
#testimonials-carousel blockquote {
	border-width: 0;
	line-height: 1.6;
	font-size: 1.75em;
	font-weight: normal;
	font-family: 'Nunito';
}
#testimonials-carousel .carousel-indicators {
	position: absolute;
	bottom: -25%;
	font-size: 2em;
}
#testimonials-carousel .carousel-indicators > li {
	height: 0.45em;
	width: 0.45em;
}

/********************
	FOOTER
	*****************/
footer {
	padding: 30px 0;
}
footer section {
	height: 300px;
	width: 100%;
	/*background-color: #314e22;*/
}














/* Media Break Points */
@media (max-width: 899px) {
	body {
		background-color: orange;
	}
}
