/************
	Palette:

#314e22 - Pomona Green *GLOBAL*

#22333B - Gunmetal
#f8fff4 - Mint Cream (light pale green)



/**********************
	GLOBAL STYLES
	****************/
body {
	background-color: #f8fff4;
}
body.container-fluid {
	padding: 0;
}
.section {
	padding: 15px;
	min-height: 350px;
	background-color: #e4f9d9;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.9;
	width: 100%;
	height: 100%;
}

/**************************
	HEADER
	********************/
header {
	padding: 24px 15px 18px;
}
#logo-main {
	background-image: url(../assets/garage-door-depot-logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 439px;
	height: 115px;
}
#contact-primary {
	color: #000;
	font-weight: bold;
	font-size: 1.75em;
	text-align: right;
	font-style: italic;
	padding-right: 3px;
}
.contact-container {
	margin-bottom: 23px;
}
#search-box {
	bottom: 0;

}
#search-box input {
	box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.9);
}

/***************************
	NAVIGATION
	*******************/
nav {
	background-color: #314e22;
	font-size: 1.15em;
	font-family: 'Nunito';
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,.35);
	position: relative;
	z-index: 99;
}
nav ul.container {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}
nav ul li {
	display: inline-block;
	float: left;
	text-align: center;
}
nav ul li a {
	color: #f8fff4;
	display: block;
	padding: 0 30px;
	line-height: 3.2; /* controls height of navigation! */
	transition: color 100ms;
	font-weight: lighter;
}
nav ul li a:hover,
.dropdown-content a:hover {
	text-decoration: none;
	color: #FFA538;
}
.dropdown-btn {
	cursor: pointer;
	position: relative;
}
ul.dropdown-content {
  position: absolute;
	opacity: 0;
	left: 16px;
  background-color: rgba(34, 51, 59, 0.9);
	z-index: 1;
	box-shadow: -1px 2px 5px 1px rgba(0,0,0,.35);
	font-weight: 100;
	border-top: 1px solid #143132;
	font-size: .9em;
	padding: 0 9px 6px 6px;
	transition: opacity 250ms ease-out 100ms;
}
.dropdown-content li {
	display: block;
	text-align: left;
	width: 100%;
	border-bottom: 2px solid #143132;
	margin-top:1px;
	margin-left: 1px;
}
.dropdown-content li:last-child {
	border-bottom-width: 0px;
}
.dropdown-content li a {
	padding: 4px 15px 0;
	line-height: 2.25;
}
.dropdown-content li a:hover {
	color: #ffbe0f;*
}
.dropdown-btn:hover .dropdown-content {
	opacity: 1;
}

/**********************
	feature-1 - CAROUSEL
	************************/
#feature-1.section {
	padding: 0;
}
#feature-1 #carousel {
	height: 560px;
	overflow: hidden;
}
#feature-1 #carousel .item img{
	max-height: 100%;
	width: 100%;
	position: relative;
	top: -80%;
}

/*****************************
	CONTENT-1 @ PRIMARY SERVICES/PRINCIPAL
	******************/
#content-1 {
	padding: 0;
}
.section-row {
	color: #f8fff4;
	padding: 45px 0 90px;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.section-row [class*="col-"] h2 {
	margin-top: 18px;
	padding-bottom: 15px;
	font-size: 2.6em;
}
.section-row [class*="col-"] p {
	line-height: 1.75;
	margin-bottom: 70px;
}
.section-row [class*="col-"] a {
	font-size: 1.25em;
	padding: 12px 54px;
	background-color: transparent;
	border: 2px solid #f8fff4;
	height: 100%;
	color: #f8fff4;
	border-radius: 3px;
	margin-bottom: 30px;
	transition: background-color 150ms;
}
.section-row [class*="col-"] a:hover {
	text-decoration: none;
	box-shadow: -0px 0px 10px 1px rgba(0,0,0,0.5);
	cursor: pointer;
	background-color: #f8fff4;
}
.section-row:nth-child(1) {
	background-image: url(../images/multi-color-garage-doors.jpg);
	background-position: center 45%;
	box-shadow: inset -150px 85px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(2) {
	background-image: url(../images/39-commercial-door-repeat.jpg);
	background-position: center 55%;
	box-shadow: inset 205px 40px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(3) {
	background-image: url(../images/thumbs-up.jpg);
	background-position: 83px 37%;
	background-size: cover;
	box-shadow: inset 135px 52px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(1) a:hover {
	color: #314e22;
}
.section-row:nth-child(2) a:hover {
	color: #22333B;
}
.section-row:nth-child(3) a:hover {
	color: #A35100;
}
.section-row:nth-child(1) > .overlay {
	background-color: #314e22;
}
.section-row:nth-child(2) > .overlay {
	background-color: #22333B;
}
.section-row:nth-child(3) > .overlay {
	background-color: #A35100;
}

/***********************
	CONTENT-2 @ ABOUT
	**************/
#content-3.section {
	font-family: 'Noto Sans', Arial, sans-serif;
	box-shadow: inset 2px 1px 24px 0px rgba(0,0,0,1);
	text-align: center;
	color: #22333B;
	background: white;
	padding: 54px 0 120px;
}
#content-3 h2 {
	font-size: 4em;
	font-weight: normal;
	padding-top: 25px;
	margin-bottom: 45px;
	position: relative;
}
#content-3 h2:after{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 75px;
	height: 3px;
	background-color: #22333B;
	bottom: -18px;
}
#content-3 article {
	padding: 15px;
}
#content-3 article p {
	padding: 15px;
	line-height: 1.5;
}

#content-3 a.cta-about {
	display: inline-block;
	margin: 24px 0 18px;
	line-height: 1;
}
#content-3 h4 {
	font-size: 1.75em;
	display: inline-block;
	height: 100%;
	width: 100%;
	background-color: #22333B;
	color: white;
	padding: 12px 72px;
	box-shadow: 0px 5px 5px 1px rgba(22, 24, 25,.75);
	border-bottom: 0 solid #22333B;
	border-radius: 1px;
	margin: 0;
	transition: all 750ms;
}
#content-3 h4:hover {
	background-color: transparent;
	color: inherit;
	text-decoration: underline;
	box-shadow: 0px 5px 5px 1px rgba(22, 24, 25,0);
}
#content-3 .glyphicon {
	font-size: 2.1em;
	color: white;
	display: inline-block;
	padding: 25px;
	margin: 15px 0;
	background-color: #22333B;
}

/************************
	ACCREDITATIONS
	****************/
#accreditation {
	font-family: inherit;
	padding: 36px 0 72px;
	background-color: white;
	color: #333;
	text-align: center;
}
.hero-title {
	color: #314e22;
	font-weight: bold;
}
#accreditation h3 {
	margin: 30px;
	margin-top: 0;
	padding: 15px;
	font-size: 1.5em;
	font-weight: normal;
}
#accreditation .row + .row > [class*="col-"] {
	padding: 0;
	text-align: center;
}
#accreditation .acrdts img {
	max-height: 88px;
	max-width: 100%;
	/*max-height: 100%;*/
}

/*********************
	TESTIMONIALS
	***************/
#parallax-content .overlay {
	background-color: #314e22;
}
#parallax-content {
	background-attachment: fixed;
	background-image: url(../images/glass-garage-door-house.jpg);
	background-size: cover;
	min-height: 600px;
	position: relative;
	padding: 45px;
}
#parallax-content #testimonials-carousel {
	color: white;
	padding: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-style: italic;
	text-align: center;
	padding-top: 0;
	width: 100%;
}
#testimonials-carousel .carousel-inner {
	top: -30px;
	padding-top: 60px;
}
#testimonials-carousel blockquote {
	border-width: 0;
	line-height: 1.5;
	font-size: 1.75em;
	padding: 0 3em;
	font-weight: lighter;
	position: relative;
}
#testimonials-carousel blockquote > span.fa {
	/*font-size: 2.8em;*/
	position:absolute;
	left: 1%; top: -10%;
	color: white;
	z-index: 1000;
	font-style: italic;
}
#testimonials-carousel blockquote footer {
	width: 35%;
	position: relative;
	top: -1em;
	float: right;
	color: #FFA538;
}
#testimonials-carousel blockquote footer p {
	font-size: 0.75em;
}
#testimonials-carousel .carousel-indicators {
	position: absolute;
	bottom: -25%;
	font-size: 2em;
	opacity: 0.5;
}
#testimonials-carousel .carousel-indicators > li {
	height: 0.5em;
	width: 0.5em;
	border-width: 2px;
	background-color: #002600;
	border-color: #f8fff4;
}
#testimonials-carousel .carousel-indicators > li.active {
	background: #f8fff4;
}

/********************
	FOOTER
	*****************/
main + footer {
	background-color: #22333B;
}
#footer-primary {
	padding: 45px 0;
	color: #f8fff4;
}
#footer-primary [class*="col-"] {

}
#footer-primary section,
#footer-primary article {
	font-size: 0.8em;
	line-height: 1.6em;
}
#footer-primary h4 {
	display: inline-block;
	margin-bottom: 14px;
	padding: 6px 0;
}
#footer-primary a {
	color: #f8fff4;
}
#footer-primary a[class*="cta"] {
	color: orange;
}
#footer-primary .special {
	background-color: #f8fff4;
	color: #22333B;
	padding: 6px 18px 6px 6px;
}
ul.social-links {
	list-style-type: none;
	padding: 0;
	margin-bottom: 27px;
	/*margin-top: -4px;*/
	font-color: white;
}
ul.social-links li {
	display: inline-block;
	font-size: 3.4em;
	line-height: 1;
	height: 100%;
	margin: 0 3px;
}
#footer-primary + section.copyright {
	background-color: #161819;
	text-align: center;
	color: #ccc;
}
#footer-primary + section.copyright p {
	line-height: 60px;
	margin: 0;
}

/***********************
	MEDIA QUERIES
	********************/

/* Media Break Points */
@media (max-width: 1200px) {
	nav {
		font-size: 1em;
	}
	nav ul li {
		width: 20%;
	}
	nav ul li a {
		line-height: 2.6;
		padding: 0 15px;
	}

	nav ul.container {
    width: 100%;
  }
	.navbar-toggle {
		/*display: block;*/
		/*background-color: white;*/
	}
	.navbar-toggle .icon-bar {
		background-color: white;
	}
	body {
		background-color: antiquewhite;
	}
}
@media (max-width: 990px) {
	nav ul {
		overflow: hidden;
		}
		nav ul li {
		width: 100%;
		text-align: left;

	}
}

@media (min-width: 992px) {
  #contact-primary {
		/*text-align: left;*/
	}


}
@media (min-width: 768px) {
	header {
		width: 100%;
	}
	header.container {
		margin: 0;
		width: 100%;
	}
	header .contact-container {
		/*position: absolute;
		top: -115px;
		right: 15px;*/
	}
	/*#accreditation .acrdts img:nth-child(1) {
		margin-bottom: 2.4em;
	}*/
}
@media (max-width: 767px) {
	#footer-primary {
		padding: 15px 0;
	}
	#footer-primary [class*="col-"] {
		margin-bottom: 27px;

	}
	#accreditation .acrdts img {
		padding: 15px 0;
	}

}
@media (max-width: 998px) {
	/*#accreditation .acrdts img:nth-child(1) {
		margin-bottom: 2.4em;
	}*/
}
