
/************
Palette:
#314e22 - Pomona Green *GLOBAL*
#22333B - Gunmetal
#f8fff4 - Mint Cream (light pale green)

/**********************
GLOBAL STYLES
****************/
body {
	background-color: #edffe4;
	min-width: 320px;
	background-color: #fcffe4;
}
body.container-fluid {
	padding: 0;
}
.section {
	padding: 15px;
	background-color: #e4f9d9;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.9;
	width: 100%;
	height: 100%;
}
a:visited,
a:focus {
	color: #f8fff4;
	text-decoration: none;
}
.padding-off {}
.hidden {
	display: none;
}

/**************************
	MAIN HEADER
	********************/
#header-main {
	padding: 24px 15px 18px;
	font-size: 2.4em;
}
#header-main #brand-logo-main {}
#header-main #contact-primary {
	text-align: right;
	white-space: nowrap;
}
#contact-primary a {
	color: #fff;
	display: inline-block;
	text-shadow: 0px 0 6px #18300D;
	font-size: 100%;
	font-weight: bold;
}
#contact-primary a:hover {
	text-decoration: none;
}
#widget-1 {
	text-align: right;
	font-size: 1.5em;
	line-height: 1;
}
#widget-1 .fa {
	color: #314e22;
}

/***************************
NAVIGATION
*******************/
nav {
	background-color: #314e22;
	font-size: 1em;
	font-weight: normal;
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,.35);
	position: relative;
	z-index: 99;
}
nav ul.container {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
	padding-left: 15px;
}
nav ul li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 11%;
}
nav ul li a {
	color: #f8fff4;
	background-color: inherit;
	display: block;
	/*padding: 0 15px;*/
	line-height: 3; /* controls height of navigation! */
	transition: all 100ms;
	font-weight: lighter;
}
nav ul li a:hover {
	text-decoration: none;
	color: #F2B910;
	background-color: rgb(34,51,59);
}
.dropdown-btn {
	cursor: pointer;
	position: relative;
}
ul.dropdown-content {
	position: absolute;
	top: 54px;
	left: 0;
	right: 0;
	width: 100%;
	opacity: 0;
	background-color: rgba(34, 51, 59, 0.9);
	z-index: 1;
	box-shadow: -1px 2px 5px 1px rgba(0,0,0,.35);
	font-weight: 100;
	border-top: 2px solid #143132;
	font-size: .9em;
	padding-left: 0;
	padding: 0;
	transition: opacity 250ms ease-out 100ms;
}
.dropdown-content li {
	display: block;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid rgba(150, 220, 222, 0.2);
	border-radius: 1px;
}
.dropdown-content li a {
	padding: 9px 6px;
	padding-left: 15px;
	line-height: 2.25;
	transition: background-color 0.5s;
}
.dropdown-content li a:hover {
	color: #fff;
	background-color: #18300D;
}
.dropdown-content li:last-child {
	border-color: transparent;
	border-width: 2px;
}
/*.dropdown-content li a:hover {
	color: #ffbe0f;*
}*/
.dropdown-btn:hover .dropdown-content {
	opacity: 1;
}

/**********************
feature-1 - CAROUSEL
************************/
#feature-1.section {
	padding: 0;
}
#feature-1 #carousel {
	overflow: hidden;
	max-height: 860px;
}
#feature-1 #carousel .item img{
	max-height: 100%;
	width: 100%;
	position: relative;
	top: -80%;
}
#feature .item {
	width: 100%;
}
.item.feature-photo {
	min-height: 600px;
	background-size: cover;
}
.item.feature-photo-1 {
	background: #fff url(../images/feature/compressed/feature-1-min.jpg) no-repeat;
	background-position: 0 100%;
}
.feature-photo-2 {
	background: #fff url(../images/feature/compressed/feature-2-min.jpg) no-repeat;
	background-position: 0 50%;
}
.feature-photo-3 {
	background: #fff url(../images/feature/compressed/feature-3-min.jpg) no-repeat;
	background-position: 0 50%;
}
.feature-photo-4 {
	background: #fff url(../images/feature/compressed/feature-4-min.jpg) no-repeat;
	background-position: 25% 50%;
}


/*****************************
CONTENT-1 @ PRIMARY SERVICES/PRINCIPAL
******************/
#content-1 {
	padding: 0;
	position: relative;
	box-shadow: 0px 0px 5px black;
}
.section-row {
	color: #f8fff4;
	padding: 45px 0 90px;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.section-row [class*="col-"] h2 {
	margin-top: 18px;
	padding-bottom: 15px;
	font-size: 2.6em;
}
.section-row [class*="col-"] p {
	line-height: 1.75;
	margin-bottom: 70px;
}
.section-row [class*="col-"] a {
	font-size: 1.25em;
	padding: 12px 54px;
	background-color: transparent;
	border: 2px solid #f8fff4;
	height: 100%;
	color: #f8fff4;
	border-radius: 3px;
	margin-bottom: 30px;
	transition: background-color 150ms;
	display: inline-block;
}
.section-row [class*="col-"] a:hover {
	text-decoration: none;
	box-shadow: -0px 0px 10px 1px rgba(0,0,0,0.5);
	cursor: pointer;
	background-color: #f8fff4;
}
.section-row:nth-child(1) {
	background-image: url(../images/multi-color-garage-doors.jpg);
	background-position: center 79%;
	box-shadow: inset -150px 85px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(2) {
	background-image: url(../images/39-commercial-door-repeat.jpg);
	background-position: center 63%;
	box-shadow: inset 205px 40px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(3) {
	background-image: url(../images/thumbs-up.jpg);
	background-position: 83px 37%;
	background-size: cover;
	box-shadow: inset 135px 52px 125px -5px rgba(0,0,0,1);
}
.section-row:nth-child(1) a:hover {
	color: #314e22;
}
.section-row:nth-child(2) a:hover {
	color: #22333B;
}
.section-row:nth-child(3) a:hover {
	color: #A35100;
}
.section-row:nth-child(1) > .overlay {
	background-color: #314e22;
}
.section-row:nth-child(2) > .overlay {
	background-color: #22333B;
}
.section-row:nth-child(3) > .overlay {
	background-color: #A35100;
}

/***********************
CONTENT-2 @ ABOUT
**************/
#content-2.section {
	font-family: 'Noto Sans', Arial, sans-serif;
	box-shadow: inset 2px 1px 24px 0px rgba(0,0,0,1);
	text-align: center;
	color: #22333B;
	background: white;
	padding: 54px 0 120px;
}
#content-2 h2 {
	font-size: 4em;
	font-weight: normal;
	padding-top: 25px;
	margin-bottom: 45px;
	position: relative;
}
#content-2 h2:after{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 75px;
	height: 3px;
	background-color: #22333B;
	bottom: -18px;
}
#content-2 article {
	padding: 15px;
}
#content-2 article p {
	padding: 15px;
	line-height: 1.5;
}

#content-2 a.cta-about {
	display: inline-block;
	margin: 24px 0 18px;
	line-height: 1;
}
#content-2 h4 {
	font-size: 1.75em;
	display: inline-block;
	height: 100%;
	width: 100%;
	background-color: #22333B;
	color: white;
	padding: 12px 1.5em;
	box-shadow: 0px 5px 5px 1px rgba(22, 24, 25,.75);
	border-bottom: 0 solid #22333B;
	border-radius: 1px;
	margin: 0;
	line-height: 1.3;
	transition: all 750ms;
}
#content-2 h4:hover {
	background-color: transparent;
	color: inherit;
	text-decoration: underline;
	box-shadow: 0px 5px 5px 1px rgba(22, 24, 25,0);
}
#content-2 .glyphicon {
	font-size: 2.1em;
	color: white;
	display: inline-block;
	padding: 25px;
	margin: 15px 0;
	background-color: #22333B;
}

/************************
ACCREDITATIONS
****************/
#accreditation {
	font-family: inherit;
	padding: 36px 36px 52px;
	background-color: white;
	color: #333;
	text-align: center;
}
.hero-title {
	color: #314e22;
	font-weight: bold;
}
#accreditation h3 {
	margin: 30px;
	margin-top: 0;
	padding: 15px;
	font-size: 1.5em;
	font-weight: normal;
}
#accreditation .row + .row > [class*="col-"] {
	padding: 0;
	text-align: center;
}
#accreditation .acrdts img {
	max-height: 88px;
	max-width: 100%;
	/*max-height: 100%;*/
}

/*********************
TESTIMONIALS
***************/
#parallax-content .overlay {
	background-color: #FF7700;
}
#parallax-content {
	position: relative;
	background-image: url(../images/glass-garage-door-house.jpg);
	background-attachment: fixed;
	background-size: cover;
	padding: 45px 0 90px;
}
#parallax-content #testimonials-carousel {
	color: #FFF;
	text-align: center;
	padding: 45px;
	width: 100%;
	font-style: italic;
}
#testimonials-carousel .carousel-inner {
	top: -30px;
	padding-top: 60px;
}
#testimonials-carousel blockquote {
	font-size: 1.75em;
	line-height: 1.5;
	position: relative;
	font-weight: lighter;
	border-left-width: 0;
	padding: 0 3em;
}
#testimonials-carousel blockquote > span.fa {
	position: absolute;
	left: 2%;
	top: -10%;
	/*color: #314e22;*/
	z-index: 1000;
	font-style: italic;
}
#testimonials-carousel blockquote cite {
	position: relative;
	color: #314e22;
}
#testimonials-carousel blockquote cite:before {
	/** add emdash to cite author **/
	content: '\2014 \00A0';
	position: absolute;
	left: -30px;
}
#testimonials-carousel blockquote footer {
	position: relative;
	float: right;
	top: 0;
	width: 35%;
	color: inherit;
}
#testimonials-carousel blockquote > footer .cite-author {
	font-weight: bold;
}
#testimonials-carousel blockquote > footer .cite-location {
	font-size: 0.6em;
	color: rgba(255, 255, 255, 1);
	position: relative;
	top: -6px;
}
#testimonials-carousel .carousel-indicators {
	position: absolute;
	bottom: -25%;
	font-size: 2.15em;
	opacity: 0.85;
}
#testimonials-carousel .carousel-indicators > li {
	height: 0.5em;
	width: 0.5em;
	border-width: 2px;
	/*background-color: #002600;*/
	/*border-color: #f8fff4;*/
}
#testimonials-carousel .carousel-indicators > li.active {
	background: #FFF;
}

/********************
FOOTER
*****************/
main + footer {
	background-color: #22333B;
}
#footer-primary {
	padding: 45px 0;
	color: #f8fff4;
}
#footer-primary section,
#footer-primary article {
	font-size: 0.8em;
	line-height: 1.6em;
}
#footer-primary h4 {
	display: inline-block;
	margin-bottom: 14px;
	padding: 6px 0;
}
#footer-primary a {
	color: #f8fff4;
}
#footer-primary a[class*="cta"] {
	color: #F2B910;
}
#footer-primary .special {
	background-color: #f8fff4;
	color: #22333B;
	padding: 6px 18px 6px 6px;
}
ul.social-links {
	list-style-type: none;
	padding: 0;
	margin-bottom: 27px;
	/*margin-top: -4px;*/
	font-color: white;
}
ul.social-links li {
	display: inline-block;
	font-size: 3.4em;
	line-height: 1;
	height: 100%;
	margin: 0 3px;
}
#footer-primary + section.copyright {
	background-color: #161819;
	text-align: center;
	color: #858699;
	font-size: 0.9em;
}
#footer-primary + section.copyright p {
	line-height: 60px;
	margin: 0;
}

/***********************
	MEDIA QUERIES
********************/

/************************
	ANYTHING OVER 1200px
	*****************/
@media (min-width: 1201px) {
	#widget-1 {
		position: relative;
		top: 7px;
	}
}

/*************************
	BELOW 1200px
	*******************/
@media (max-width: 1200px) {
	#header-main {
		width: 100%;
	}
	nav {
		font-size: 1em;
	}
	nav ul li {
		width: 20%;
	}
	nav ul li a {
		line-height: 2.6;
		padding: 0 15px;
	}
	nav ul.container {
		width: 100%;
	}
	.navbar-toggle .icon-bar {
		background-color: white;
	}
}

@media (max-width: 990px) {
	#header-main {
		font-size: 2.2em;
	}
	#header-main #brand-logo-main img {
		height: 114px;
		width: 369px;
	}
	#header-main > .container {
		width: 100%;
	}

	nav ul {
		overflow: hidden;
	}
	nav ul li {
		width: 100%;
		text-align: left;
	}

	/******************
	HAMBURGER MENU
	***************/
	.navbar-toggle {
		padding: 6px 12px;
		margin: 5px 15px;
	}
	.navbar-toggle .icon-bar {
		width: 36px;
		height: 4px;
		border-radius: 1px;
		margin: 6px 0;
	}
	nav ul li a {
		line-height: 3.2;
	}
	#nav-collapse,
	[class*="sub-nav-collapse"] {
		border-top-width: 0px;
	}
	#nav-collapse > .container > li {
		background-color: #22333B;
		margin: 0;
		line-height: 3.2;
		border-bottom: 1px solid #4a5358;
	}
	#nav-collapse > .container > li:last-child {
		border-bottom-width: 0;
	}
	nav .navbar-collapse {
		background-color: #fff;
		padding: 0;
	}
	ul.dropdown-content {
		position: static;
		opacity: 1;
		background-color: #A9C1CC;
		margin-left: 0.75em;
		padding-left: 0.15em;
		padding-right: 0;
		box-shadow: inset 2px 2px 10px 1px black;
	}
	ul.dropdown-content li {
		border-bottom: 1px solid #6a737f;
		line-height: 3.2;
	}
	ul.dropdown-content li a {
		color: #22333B;
		line-height: inherit;
		font-size: 1.15em;
		padding: 0 15px;
	}
	ul.dropdown-content li a:hover{
		color: #f8fff4;
	}
	[class*="sub-nav-collapse"] {
		box-shadow: inset 6px 6px 16px 0px rgba(0,0,0,0.65);
	}

	/*#header-main > .container {
		width: 100%;
	}*/

	#header-main [class*="col-"]:last-child {
		padding: 0;
	}

}

/*******************
	XS SCREEN
****************/
@media (max-width: 767px) {
	#header-main {
		padding: 0 15px;
		font-size: 1.8em;
		overflow: hidden;
	}
	#header-main #brand-logo-main img {
		width: 100%;
		height: auto;
	}
	#header-main [class*="col-"]:first-child {
		padding: 0;
	}
	#header-main [class*="col-"]:last-child {
		position: absolute;
		right: 0;
	}
	#brand-logo-main {
		margin: 2.5em 0 0.5em;
	}
	#header-main #contact-primary {
		padding: 6px 0;
		text-align: center;
		margin-top: 6px;
	}
	#header-main #widget-1 {
		display: none;
	}


	#footer-primary {
		padding: 15px 0;
	}
	#footer-primary [class*="col-"] {
		margin-bottom: 27px;

	}
	#accreditation .acrdts img {
		padding: 15px 0;
	}
	#widget-1 {
		/*display: none;*/
	}
	#feature-1 {
		display: none;
	}
	.section-row [class*="col-"] a {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}

	#parallax-content {
		padding: 70px 0 115px;
	}
	#parallax-content #testimonials-carousel {
		padding: 0 15px;
	}
	#testimonials-carousel .carousel-inner {
		padding-top: 30px;
		top: 0;
		overflow: visible;
	}

	#testimonials-carousel blockquote {
		padding: 0;
		font-size: 1.5em;
		line-height: 1.4;
	}
	#testimonials-carousel blockquote footer {
		width: 100%;
		float: none;
	}
	#testimonials-carousel .carousel-indicators {
		bottom: -3em;
	}

}

@media (max-width: 380px) {
	#contact-primary {
		/*font-size: 1.75em;*/
	}
}

.loading-part {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 4000000;
  background: #FFFFFF; }
  .loading-part .loader-home {
    margin: -12em 0 0 -12em;
    width: 50px;
    height: 50px;
    font-size: 2px;
    position: absolute;
    text-indent: -9999em;
    top: 50vh;
    left: 50vw;
    border-top: 1em solid #EEE;
    border-right: 1em solid #EEE;
    border-bottom: 1em solid #EEE;
    border-left: 1em solid #666;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loadinghome 0.7s infinite linear;
    -moz-animation: loadinghome 0.7s infinite linear;
    animation: loadinghome 0.7s infinite linear; }
  .loading-part .loader-home,
  .loading-part .loader-home:after {
    border-radius: 50%;
    width: 24em;
    height: 24em; }
@-webkit-keyframes loadinghome {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes loadinghome {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@keyframes loadinghome {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
